{% extends "slushpool/components/slushpool_tab.jinja" %}
{% set tab = 'payouts' %}


{% block content %}
    <h1>Slush Pool Payouts</h1>

    {# TODO: List total withdrawal value? Or just current value of withdrawn utxos? #}

    <div class="table-holder">
        {% include "includes/services-data.html" %}
        {% include "includes/address-label.html" %}
        {% include "includes/tx-row.html" %}
        {% include "includes/tx-data.html" %}
        {% include "includes/explorer-link.html" %}
        {% include "includes/tx-table.html" %}
        <tx-table
            {% if specter.price_check and (specter.alt_rate and specter.alt_symbol) %}
                price="{{ specter.alt_rate }}"
                symbol="{{ specter.alt_symbol }}"
            {% endif %}
            btc-unit="{{ specter.unit }}"
            hide-sensitive-info="{{ specter.hide_sensitive_info | lower }}"
            service-id="{{ service.id }}"
            type="txlist"
        />
    </div>
    <div id="tx-popup" class="hidden"></div>

{% endblock %}